---
import Gallery from '../components/Gallery.jsx'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traxx - my super app!</title>
    <style global>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        font-family: sans-serif;
        line-height: 1.4;
      }

      button, input, textarea {
        font-size: inherit;
        font-family: inherit;
      }

    </style>
  </head>
  <body>
    <header>
      <h1>Traxx - my super app!</h1>
      <ul>
        <li>it's great</li>
        <li>it works soooo good</li>
        <li>it has features</li>
        <li>it si exactly what you need</li>
      </ul>
      <aside hidden>
        <h2>More</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
          sequi dolor aperiam! Veritatis quibusdam omnis facilis atque magnam,
          vitae rerum nemo quidem excepturi, totam explicabo. Voluptas quas
          voluptatem aut magnam!
        </p>
      </aside>
      <button>More ...</button>
    </header>
    <section>
      <h2>Features</h2>
      <ul>
        <li>Offline</li>
        <li>Undo/redo</li>
        <li>Add pictures</li>
        <li>Unlimited</li>
        <li>Darkmode</li>
    </section>
    <section>
      <h2>Technologies</h2>
      <ul>
        <li>React</li>
        <li>React-Router</li>
        <li>Styled-Components</li>
        <li>LocalStorage</li>
    </section>
  </body>
</html>
